.switchinput[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switchLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}



.switchLabel:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
    height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + .switchLabel{
	background: #3C78D8;
    
}

input:checked + .switchLabel:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.switchLabel:active:after {
	width: 30px;
}


